body{
    background: #570008;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#ffffff
}

h1{
    color:#466a9f;
}

h2{
    color:#fff2e3;
}

p{
    font-style:italic;
}

/* Ensures images are square and responsive */
.oval-image {
    max-width: 25%; /* Reduce the max width to make the image smaller */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Slight rounding for a softer look, adjust as needed */
    object-fit: contain; /* Ensures the entire image fits within the container */
    display: block; /* Ensures the image is treated as a block element for styling */
    margin: 0 auto; /* Centers the image */
    padding: 10px; /* Adds padding around the image */
 }