body{
    background: #570008;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#ffffff
}

h1{
    color:#466a9f;
}

h2{
    color:#fff2e3;
}

p{
    font-style:italic;
}

